.pop_fullsize{
    width: 100%;
}


/* me */
.me{
    position: fixed;
    top: 40px;left: 90px;
    z-index: 1;

    height: 55px;
    padding: 5px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 5px;

    overflow: hidden;
    background: url(./assets/bg.png) no-repeat center center fixed;
    background-size: auto;
    /* background-color: #f6f6f60a; */
    backdrop-filter: blur(4px);
    box-shadow: var(--shadow);
    transition: .15s ease-in-out box-shadow;
}
.me_pic{
    height: 100%;
}
.me_pic img{
    height: 100%;
    border-radius: 50%;
}
.me:hover{
    cursor: pointer;
    box-shadow: var(--shadow2);
}